/*halaman dasar */
body {
  font-family: "Poppins", sans-serif;
  background-color: #F4F6FA; 
  margin: 0;
} 
.layout {
  display: grid;
  grid-template-columns: 1fr 250px; /* tengah besar, sidebar kecil */
  gap: 20px;
  padding: 20px;
}
/*konten di tengah */
.main-content {
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*header atas */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 15px;
  background-color: #ffffff;
  padding: 12px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.header h2 {
  font-size: 18px;
  margin: 0;
  color: #222; 
  font-weight: bold;
}
.datetime {
  background-color: #89b4f8; 
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 13px;
}
/*konten utama*/
.content-box {
  background-color: #d9d9d9; 
  border-radius: 20px;
  padding: 25px;
  width: 90%;
  margin-top: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.content-box h2 {
  margin-top: 0;
  color: #222; 
  font-weight: bold;
}
.content-box h3 {
  margin-top: 0;
  color: #222; 
  font-weight: bold;
}
.content-box p {
  font-size: 14px;
  color: #444;
}

/* tombol */
.btn {
  display: block;
  margin: 20px auto;
  background-color: #1E90FF; 
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #006be0;
}
/* grid motor */
.motor-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 15px;
}
.motor-card {
  background-color: white;
  width: 30%;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  border: 1px solid #e0e0e0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.motor-card p {
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
}
.motor-card span {
  font-size: 26px;
  font-weight: bold;
  color: #1E90FF; 
}
/* sidebar kanan */
.sidebar-right {
  background-color: #d9d9d9; 
  border-radius: 20px;
  padding: 20px;
}
.sidebar-right h3 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
.promo-box {
  background-color: #bcbcbc;
  border-radius: 12px;
  height: 80px;
  margin-top: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 12px;
}
/* layar responsif */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
  .main-content {
    width: 100%;
  }
  .motor-card {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .motor-card {
    width: 100%;
  }
}
